section{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    .counter{
        width: 50%;
        margin: auto;
        p{
            font-size: 5rem;
            width: 100%;
            width: 50%;
            margin: auto;
        }
        button{
            width: 100px;
            height: 100px;
            margin: 10px;
            font-size: 4rem;
            cursor: pointer;
            justify-self: center;
        }
        .increment-by-amount, .reset{
            display: block;
            font-size: 1rem;
            margin: 10px auto;
            width: 200px;
        }
    }
}

